.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: #00695c;
    padding: 0 1.5rem;
    .main-header__nav {
        height: 100%;
        display: flex;
        align-items: center;
        .main-header__item-list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            .main-header__item {
                margin: 0 1rem;
                padding: 0;
                a {
                    text-decoration: none;
                    color: white;
                    &:hover, &:active, &.active {
                        color: #ffeb3b;
                    }
                }
            }
        }
    }
}