.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.product-item {
  width: 20rem;
  max-width: 95%;
}
.product-item .product__title {
  font-size: 1.2rem;
  text-align: center;
}
.product-item .product__price {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}
.product-item .product__description {
  text-align: center;
}
